<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9caded27f0.js"
      crossorigin="anonymous"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="icon" type="img/png" href="/img/logo-web-icon.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Error 404</title>
</head>
<body>
    <div class="container-404">
            <img class="img-cup" src="/img/fondo3.webp" alt="wine cup">
        <div class="text">
            <h2 class="title-404">¡Lo sentimos!</h2>
            <p>no encontramos la página solicitada.</p>
             <a href="/"><p>Para volver presiona aquí</p></a>
        </div>
    </div>
</body>
</html>